* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.png binary
*.svg text eol=lf
